<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.vector.splash.ui.VectorSplashHandler"
            id="com.vector.splash.ui.splashHandler">
      </splashHandler>
   </extension>
   <extension-point id="com.vector.splash.ui.splashScreens" name="Vector Splash Screen" schema="schema/com.vector.splash.ui.info.exsd"/>
</plugin>
